<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="imagesss.css">
</head>
<body>
    <div class="view">
        <h1 id="heading">Responsive and Round Image</h1>
        <div class="images">
            <div class="reponsive">
                <img id="image1" src="image1.jpg" alt="responsive image">
                <h2 class="name_image">Responsive Image</h2>
            </div>
            <div class="round">
                <img id="image2" src="image2.jpg" alt="round image">
                <h2 class="name_image">Round Image</h2>
            </div>
        </div>
    </div>
</body>
</html>