<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
    <div class="nav">
        <div class="nav-header">
            <ul class="element">
                <li>Home</li>
                <li>Electronics</li>
                <li>Clothing</li>
                <li>ContactUs</li>
                <li id=last-element>Signout</li>
            </ul>
        </div>
        
    </div>
</body>
</html>