* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{ 
    width: 100vw;
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.badge_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.icon {
    position: relative;
    z-index: 1;
}
.badge1 {
    position: absolute;
    z-index: 2;
    padding-left: 4rem;
    padding-bottom: 3rem;
    
}
#detail1, #detail2 {
    color: #6B7280;
    font-size: 1rem;
}
.avatar {
    position: relative;
    z-index: 1;
}
.badge2 {
    position: absolute;
    z-index: 2;
    padding-left: 4rem;
    padding-bottom: 4rem;
}
