<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="badge.css">
</head>
<body>
    <div class="head">
        <div class="badge_icon">
            <div class="icon">
                <img src="icon-image.png" alt="">
            </div>
            <div class="badge1">
                <img src="police-badge.png" alt="">
            </div>
            <div id="detail1">Badge on Icon</div>
        </div>
        <div class="badge_avatar">
            <div class="avatar">
                <img src="avatar-image.png" alt="">
            </div>
            <div class="badge2">
                <img src="police-badge.png" alt="">
            </div>
            <div id="detail2">Badge on Avatar</div>
        </div>
    </div>
</body>
</html>