<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <div class="grid-2">
        <h1 id="grid-2-head">2 Items in Grid</h1>
        <p class="grid-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo dicta dolorem incidunt facilis expedita nostrum laborum nihil sed consequuntur pariatur nisi est hic aliquid harum, repellendus recusandae exercitationem quidem? Amet.</p>
        <p class="grid-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda officiis reiciendis? Ipsa et dolorem ipsum autem, quidem debitis culpa, facilis deleniti soluta fuga numquam corporis. Magni ipsa at rerum!</p>
    </div>
    <div class="grid-3">
        <h1 id="grid-3-head">3 Items in Grid</h1>
        <p class="grid-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea saepe harum nisi explicabo quidem, officiis voluptatibus, hic deserunt culpa reiciendis alias ex. Obcaecati esse ea ratione velit libero eligendi dolore!</p>
        <p class="grid-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente a similique voluptatem nobis architecto? Molestias, nisi in! Consectetur veniam delectus doloribus accusamus ipsam veritatis quas, autem error, facilis rerum a?</p>
        <p class="grid-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita laboriosam laudantium eius cum, hic cumque deserunt fugiat, maxime omnis sit libero, nesciunt commodi aliquid nemo minus placeat facere quis. Sequi.</p>
    </div>
</body>
</html>