<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <div class="head">
        <div class="primary_button">
            <button id="pb">Primary Button</button>
        </div>
        <div class="link_button">
            <a href="https://neog.camp/"><button id="lb">Link Button</button></a>
        </div>
        <div class="icon_button">
            <a href="https://www.youtube.com/"><img id="ib" src="button-icon.png" alt=""></a>
        </div>
        <div class="floating_action_button">
            <button id="fab">+</button>        
        </div>
    </div>
</body>
</html>