<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>
    <div class="cards">
        <div class="card1">
            <div id="card1-heading">Card Badges</div>
            <div class="card1-badge">Badge 1 <span id="badge1">New</span></div>
            <div class="card1-badge">Badge 2 <span id="badge2">Success</span></div>
            <div class="card1-badge">Badge 3 <span id="badge3">Failure</span></div>
            <div class="card1-badge">Badge 4 <span id="badge4">Hot</span></div>
            <div class="card1-badge">Badge 5 <span id="badge5">Trending</span></div>
        </div>
        <div class="card2">
            <div id="head_card2">Heading</div>
            <p id="para_card2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis a non exercitationem quisquam, voluptatum alias assumenda quaerat iusto asperiores modi deserunt molestiae eligendi deleniti hic dolorum quasi placeat odio ipsa.</p>
            <button id="button_card2">Click Me</button>
            <button id="dismiss">X</button>
        </div>
        <div class="card3">
            <div id="overlay1_card3"></div>
            <div id="overlay2_card3"></div>
            <div id="text_card3">Hi hello how are you. I don't know how to talk but still I am but I don't know I am doing this. By the way do you know to talk?</div>
        </div>
        <div class="card4">
            <div id="head_card4">Offcial Heading</div>
            <div id="text_card4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, eligendi, iure laboriosam ut voluptatum dolore officiis cumque vero, hic est explicabo molestias? Fuga voluptatibus vel labore fugit ratione? Necessitatibus fugiat voluptates reprehenderit fugit similique? Quae dolore doloribus corporis ab incidunt.</div>
        </div>
        <div class="card5">
            <div id="head_card5">Vertical Card</div>
            <p id="para_card5">This is a test card to test that it is a Vertical Card. if it's not vertical card please bear with me.</p>
        </div>
        <div class="card6">
            <img  id="img_card6" src="horizontal_img.jpg" alt="horizontal pic">
            <div>
                <div id="head_card6">Horizontal Card</div>
                <p id="para_card6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consequatur distinctio modi, alias hic quos illum obcaecati esse in voluptatum.</p>
            </div>
        </div>
        <div class="card7">
            <h1>This is a Card with Shadow. If it's not visible then make it visible.</h1>
        </div>
    </div>
</body>
</html>