<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <div class="lists">
        <div class="spaced">
            <ol class="list1">
                <li>Panner Tikka</li>
                <li>Butter Panner</li>
                <li>Paneer Handi</li>
                <li>Shahi Panner</li>
                <li>Panner Lababdaar</li>
            </ol>
        </div>
        <div class="stacked">
            <ul class="list2">
                <li>Home</li>
                <li>Products</li>
                <li>Services</li>
                <li>Contact us</li>
                <li>Sign out</li>
            </ul>
            <button id="cross">X</button>
        </div>
    </div>
</body>
</html>