<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modals</title>
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    <div class="screen">
        <div class="modal">
            <div id="head">Modal</div>
            <p id="msg">This is a popup alert that means something is wrong. Do you want to close this window/popup?</p>
            <button id="close-btn">Close Popup</button>
            <button id="close-btn-2">x</button>
        </div>
    </div>
</body>
</html>