<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utility</title>
    <link rel="stylesheet" href="text-utility.css">
</head>
<body>
    <div class="text-utility">
        <h1 id="heading">Yo! This is a heading.</h1>
        <small id="small">This text is written to tell you that it's so small that you can't see it. But if you able to see it, believe me you are smaller than text.</small>
        <p id="gray">So this is gray text i.e. text which is gray in color. If text is not gray then it must be in any other color.</p>
        <p id="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem explicabo nihil commodi id, similique accusantium nostrum quia ullam debitis alias saepe impedit ratione quam delectus! Itaque, hic eum optio est, aliquam quaerat delectus cumque suscipit iste quidem minus? Magnam repellat dignissimos quas assumenda tempora unde esse necessitatibus consequatur nulla porro.</p>
    </div>
</body>
</html>