<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inputs</title>
    <link rel="stylesheet" href="input.css">
</head>
<body>
    <div class="input">
        <div class="textbox">
            <textarea name="" class="text_area1" placeholder="Enter your text"  rows="3"></textarea>
        </div>
        <div class="textbox_validation">
            <textarea name="" class="text_area2" placeholder="Entered text is verified" rows="3"></textarea>
            <img src="validation_img.png" alt="green validation icon" id="valid">
        </div>
        <div class="textbox_error">
            <textarea name="" class="text_area3" placeholder="Entered text is incorrect" rows="3"></textarea>
            <img src="error_img.png" alt="red error tag" id="error">
        </div>
    </div>
</body>
</html>